<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.lee.model.User">
        <id property="user_id" column="id" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserTotalCount" resultType="java.lang.Long">
        select count(user_id) from user
    </select>
</mapper>